html {
  margin: 0px;
  height: 100%;
}

body {
  margin: 0;
  overflow: scroll;
}

#root {
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
}

.container > hr {
  margin: 0px;
}

.content-container {
  overflow: hidden;
}

header {
  position: sticky;
  top: 0;
  box-sizing: border-box;
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 145px;
  background-color: white;
  border-bottom: 1px solid #888888;
  z-index: 9999;
}

.header-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 100px 10px 100px;
  font-size: large;
  font-weight: bold;
}

nav * {
  text-decoration: none;
  padding: 0px 12px;
}

#top {
  font-size: 16px;
  font-weight: lighter;
  text-align: right;
  margin-top: 15px;
}

#top a {
  color: #888888;
}

#top a:hover {
  font-weight: bold;
}

#down {
  color: black;
  margin-top: 10px;
  font-size: 22px;
}

#down a {
  color: black;
  transition: color 0.3s;
}

#down a:hover {
  color: #888888;
  transition: color 0.3s;
}

.header-logo {
  height: 90px;
}

.community {
  margin: 0px auto;
  width: 1000px;
  padding: 0px 80px;
}

.community-category {
  display: flex;
  margin: 0px;
  margin-left: 30px;
}

.community-list-header {
  width: 1000px;
  text-align: center;
}

.community-list-header > div {
  display: flex;
  justify-content: space-between;
}

.community-list-header > hr {
  margin-top: 0px;
}

.new-post-btn {
  margin: 5px 45px 5px 5px;
  background-color: #e8de8a;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 0px 20px;
  cursor: pointer;
}

.community-category > div {
  color: #888888;
  margin: 15px;
  cursor: pointer;
}

.post-list-item {
  display: flex;
  align-items: center;
  width: 1000px;
  height: 50px;
  vertical-align: middle;
  padding: 0px 30px;
  font-size: 24px;
  font-weight: bold;
}

.post-list-item > div:first-child {
  display: inline-block;
  margin: 0px 15px;
  color: #888888;
  vertical-align: middle;
}

.post-info {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
}

.post-detail-info {
  flex-direction: row;
  font-size: 15px;
  color: #888888;
}

.post-detail-info > span:last-child {
  font-weight: lighter;
}

.post-info > span:first-child {
  font-size: 20px;
  cursor: pointer;
}

.new-post {
  text-align: center;
  border: 1px solid #888888;
  border-radius: 15px;
  margin: 0px 10px;
}

.new-post-title {
  width: 900px;
  height: 40px;
  border: none;
  border-bottom: 1px solid #888888;
  font-size: 20px;
  padding: 10px;
}

.new-post-title:focus {
  outline: none;
}

.new-post-content {
  width: 900px;
  height: 360px;
  border: none;
  padding: 20px 0px;
  border-bottom: 1px solid #888888;
  font-size: 20px;
  resize: none;
}

.new-post-content:focus {
  outline: none;
  padding: 20px 0px;
}

.login-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: inline-flex;
  text-align: center;
}

.left-outer {
  width: 50%;
  height: 100%;
}

.left-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8px 0px 8px 8px;
  padding: 100px;
  height: calc(100% - 370px);
  border: solid 3px #e6c230;
  border-right: none;
}

.left-inner > div:first-child,
.right-inner > div:first-child {
  font-size: 28px;
  font-weight: bold;
}

.left-inner > div:nth-child(2),
.right-inner > div:nth-child(2) {
  font-size: 15px;
}

.login-box {
  display: inline-flex;
  width: 400px;
  margin-top: 30px;
  text-align: center;
}

.login-box > div {
  width: 80%;
  text-align: left;
}

.login-box input {
  width: 90%;
  border: 1.5px solid #888888;
  color: #888888;
  margin: 3px;
  padding: 8px 10px 8px 10px;
  font-size: 15px;
}

.login-box input:first-child {
  margin-bottom: 8px;
}

.login-box button {
  background-color: #e6c230;
  margin: 3px 0px;
  padding: 0px 15px;
  border: none;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer;
}

.right-outer {
  width: 50%;
  height: 100%;
  background-color: #e6c230;
}

.right-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8px 8px 8px 0px;
  padding: 100px;
  height: calc(100% - 370px);
  border: solid 3px white;
  border-left: none;
}

.right-inner > button {
  background-color: beige;
  border: none;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  padding: 30px 60px;
  cursor: pointer;
}

.signup-container {
  width: 1000px;
  margin: 0px auto;
  text-align: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  margin: 0px 200px;
}

.signup-container span {
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
}

.signup-container input {
  font-size: 15px;
  padding: 12px;
  margin: 10px 10px 5px 10px;
  border: 1px solid gray;
  border-radius: 10px;
}

.signup-button {
  text-align: right;
  padding-right: 200px;
}

.signup-button .off {
  background-color: #c4c4c4;
  color: white;
  font-size: 17px;
  padding: 10px 30px;
  margin-top: 20px;
  border: none;
  border-radius: 15px;
}

.signup-button .on {
  background-color: #e6c230;
  color: white;
  cursor: pointer;
  font-size: 17px;
  padding: 10px 30px;
  margin-top: 20px;
  border: none;
  border-radius: 15px;
}

.warning-text {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.confirm-text {
  color: green;
  font-size: 12px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.empty-text {
  height: 16px;
  margin-bottom: 10px;
}

.preference-text > div:first-child {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.preference-text > div {
  font-size: 16px;
}

.menu-container {
  display: flex;
  width: 1400px;
  margin: 0px auto;
  justify-content: center;
}

.menu-recommend-container {
  display: block;
  width: 1100px;
}

.main-img {
  width: 800px;
}

.menu-list-container::-webkit-scrollbar {
  display: none;
}

.real-time-container {
  position: fixed;
  width: 240px;
  top: 154px;
  right: 64px;
  text-align: left;
  margin: 0px 60px;
}

.real-time-container > h3 {
  font-size: 24px;
  margin-bottom: 0px;
}

.real-time-container > span {
  font-size: 14px;
}

.real-time-box {
  border-radius: 24px;
  background-color: #e8de8a;
  margin-top: 20px;
  padding: 10px;
}

.real-time-menu {
  margin: 12px;
  font-size: 20px;
  cursor: pointer;
}

.real-time-menu:hover {
  text-decoration: underline 2.5px;
  text-underline-position: under;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.modal-image {
  width: 360px;
  border-radius: 24px;
}

.menu-name {
  font-weight: 700;
}

.modal-outer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #A0A0A0AA;
  z-index: 9999;
}

.modal-inner-box {
  display: flex;
  flex-direction: column;
  width: 520px;
  border-radius: 24px;
  padding: 24px;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(207, 207, 207, 0.5);
}

.modal-header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 48px;
  font-size: 24px;
  border-bottom: 1px solid #A0A0A0AA;
  padding-bottom: 12px;
  margin-bottom: 16px;
}

.modal-close-button {
  position: absolute;
  right: 24px;
  box-shadow: none;
  border: none;
  padding: 0;
  overflow: visible;
  background-color: white;
  cursor: pointer;
}

.modal-close-image {
  filter: invert(70%) sepia(26%) saturate(3%) hue-rotate(28deg) brightness(91%) contrast(94%);
  width: 16px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.modal-footer * {
  margin: 0px 8px 0px 8px;
  border: none;
  box-shadow: none;
  width: 60px;
  height: 32px;
  border-radius: 10px;
  padding: 0;
  overflow: visible;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.modal-accept-button {
  background-color: #e6c230;
  color: white;
}

.menu-swiper {
  height: 320px;
  border-top: 1px solid #A0A0A0AA;
  padding-top: 24px;
}

.menu-title {
  font-size: 24px;
  font-weight: 600;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  color: #888;
  cursor: pointer;
  transition: all 0.5s;
}

.slide:hover {
  padding: 30px;
  color: #e8de8a;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.5s;
}

.slide-image {
  width: 100%;
  margin-bottom: 12px;
  border-radius: 24px;
  box-shadow: 0 2px 4px 0 rgba(207, 207, 207, 0.5);
  object-fit: cover;
}

.user-text-container {
  position: sticky;
  width: 300px;
  height: 200px;
  text-align: left;
  margin-top: 10px;
}

.my-menu-container {
  height: 100%;
  display: block;
  width: 650px;
  margin-top: 30px;
}

.history-item {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 600px;
  border: solid 1px #888888;
  margin-bottom: 30px;
  text-align: center;
}

.history-item div {
  color: #545454;
  font-size: 20px;
  padding: 10px;
}

.history-item span {
  font-weight: bold;
  text-decoration: underline 2px;
  text-underline-position: under;
}

.history-item span:hover {
  color: #e5db7e;
  font-weight: bold;
  text-decoration: underline 2px;
  text-underline-position: under;
  cursor: pointer;
}

.history-img {
  width: 600px;
  height: 400px;
}

/*# sourceMappingURL=main.css.map */
