.community {
  padding: 0px 80px;
}
.community-category {
  display: flex;
  margin: 0px;
  margin-left: 30px;
}

.community-list-header {
  text-align: center;
}

.community-category > div {
  color: #888888;
  margin: 15px;
  cursor: pointer;
}

.community-list-header > hr {
  margin: 0px auto;
}
