.menu-container {
  display: flex;
  width: 1400px;
  margin: 0px auto;
}

.menu-recommend-container {
  display: block;
  width: 1100px;
  margin-left: 30px;
}

.main-img {
  width: 800px;
}

.menu-list-container::-webkit-scrollbar {
  display: none;
}

.real-time-container {
  position: fixed;
  width: 240px;
  top: 154px;
  right: 64px;
  text-align: left;
}

.real-time-container > h3 {
  font-size: 24px;
  margin-bottom: 0px;
}

.real-time-container > span {
  font-size: 14px;
}

.real-time-box {
  border-radius: 24px;
  background-color: #e8de8a;
  margin-top: 20px;
  padding: 10px;
}

.real-time-menu {
  margin: 14px;
  font-size: 18px;
  cursor: pointer;
}

.real-time-menu:hover {
  text-decoration: underline 2.5px;
  text-underline-position: under;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.modal-image {
  width: 360px;
  height: 250px;
  object-fit: contain;
  border-radius: 24px;
  image-rendering: -webkit-optimize-contrast;
}

.menu-name {
  font-weight: 700;
}
