.my-menu-container{
  display: flex;
  width: 1400px;
  margin: 0px auto;
  justify-content: right;
}

.user-text-container {
  position: fixed;
  width: 300px;
  height: 200px;
  top: 154px;
  left: 320px;
  text-align: left;
  margin-top: 10px;
}

.user-text-container > h2:first-child{
  margin-bottom: 10px;
}

.user-text-container > h2:last-child{
  margin-top: 0px;
}

.user-nickname{
  text-decoration: underline 2px;
  text-underline-position: under;
}
.my-history-container {
  height: 100%;
  display: block;
  width: 650px;
  margin-top: 30px;
  margin-right: 200px;
}

.history-item {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  width: 600px;
  border: solid 1px #888888;
  margin-bottom: 30px;
  text-align: center;
}

.history-item div {
  color: #545454;
  font-size: 20px;
  padding: 10px;
}

.history-item span {
  font-weight: bold;
  text-decoration: underline 2px;
  text-underline-position: under;
}

.history-item span:hover {
  color: #e5db7e;
  font-weight: bold;
  text-decoration: underline 2px;
  text-underline-position: under;
  cursor: pointer;
}

.history-img {
  width: 600px;
  height: 400px;
}
